@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model WaterBillAppCore.Models.Bill

@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var imagePath = "~/Images/" + (Model.PhotoUrl ?? "noimage.jpg");
}

<h4>Bill Details</h4>



    @*<div class="row">
                <div class="col-sm-6">
                    <div class="card" style="height: 62vh">
                        <img src="@imagePath" class="img-fluid" asp-append-version="true" />
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(model => model.Description)</h5>
                            <p class="card-text">
                                @Html.DisplayNameFor(model => model.BillId)
                                <b>
                                    ... # @Html.DisplayFor(model => model.BillId)
                                </b>

                                <br />


                                @Html.DisplayNameFor(model => model.AccountNumber)
                                <b>
                                    ... # @Html.DisplayFor(model => model.AccountNumber)
                                </b>

                                <br />


                                @Html.DisplayNameFor(model => model.AmountPaid)
                                <b>
                                    ... R @Html.DisplayFor(model => model.AmountPaid)
                                </b>

                                <br />


                                @Html.DisplayNameFor(model => model.CreatedDate)
                                <b>
                                    ... @Html.DisplayFor(model => model.CreatedDate)
                                </b>

                                <br />

                                @Html.DisplayNameFor(model => model.BillStatus)
                                <b>
                                    ...  @Html.DisplayFor(model => model.BillStatus)
                                </b>

                                <br />

                                @Html.DisplayNameFor(model => model.PrevReading)
                                <b>
                                    ....   @Html.DisplayFor(model => model.PrevReading) kiloliter(s)
                                </b>

                                <br />


                                @Html.DisplayNameFor(model => model.CurrentReading)
                                <b>
                                    ....  @Html.DisplayFor(model => model.CurrentReading) kiloliter(s)
                                </b>

                                <br />
                                <br />





                                @Html.DisplayNameFor(model => model.Usage)
                                <b>
                                    ...  @Html.DisplayFor(model => model.Usage) kiloliter(s)
                                </b>

                                <br />
                                @Html.DisplayNameFor(model => model.Amount)
                                <b>
                                    ... R @Html.DisplayFor(model => model.Amount)
                                </b>

                                <br />



                                @Html.DisplayNameFor(model => model.Vat)
                                <b>
                                    ... R @Html.DisplayFor(model => model.Vat)
                                </b>

                                <br />



                            </p>
                        </div>
                    </div>
                </div>


            </div>

            </dl>
        </div>

        <form ngNoForm action="https://www.payfast.co.za/eng/process" method="POST">
            <span>
                <input type="hidden" name="merchant_id" value="18532075">
                <input type="hidden" name="merchant_key" value="sfdfjuciknw4b">
                <input type="hidden" name="return_url" value="http://localhost:63919/Bill/Confirm/@Model.BillId">
                <input type="hidden" name="cancel_url" value="http://localhost:63919/Bill/Confirm/@Model.BillId">
                <input type="hidden" name="notify_url" value="http://localhost:63919/Bill/Confirm/@Model.BillId">

                <input type="hidden" name="name_first" value="@Model.CustomerName">
                <input type="hidden" name="name_last" value="Payment">
                <input type="hidden" name="email_address" value="@Model.CustomerEmail">
                <input type="hidden" name="cell_number" value="@Model.CustomerPhone">


                <input type="hidden" name="amount" value="@Model.Amount.ToString().Replace(",",".")">
                <input type="hidden" name="item_name" value="@Model.Description">
                <input type="hidden" name="item_description" value="@Model.Description">


                <input type="hidden" name="email_confirmation" value="1">
                <input type="hidden" name="confirmation_address" value="Info@vigortech.co.za">
            </span>

            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Proceed to online
                    payments
                </button>

            </div>
        </form>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.BillId">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>*@
