@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model IEnumerable<WaterBillAppCore.Models.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bills</h1>

<form method="get" asp-action="Index">
    <div class="input-group">
        <input class="form-control" type="search" placeholder="Search here...." value="@ViewData["GetData"]" name="searchTerm">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>


@if (Model.Any())
{

    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Customer"))
        {
            <a asp-action="Create"
               class="btn btn-primary mb-3" style="width:auto">
                Make A New Payment
            </a>
        }
    }



    foreach (var bill in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                @bill.CreatedDate,   <b> R @bill.Amount</b>
            </div>
            <div class="card-body">
                <h5 class="card-title">@bill.CustomerName @bill.AccountNumber </h5>
                <p>
                    Bill Status:  <b> @bill.BillStatus</b>
                </p>
            </div>
            <div class="card-footer">
                <a asp-action="Confirm" asp-route-id="@bill.BillId" class="btn btn-info">Details</a>
                @* <a asp-action="Edit"  asp-route-id="@bill.Id" class="btn btn-danger">Edit</a>*@
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No payment history found.
        </div>


        <div class="card-body">
            @if (SignInManager.IsSignedIn(User))
            {
                if (User.IsInRole("Customer"))
                {
                    <a asp-action="Create"
                       class="btn btn-primary mb-3" style="width:auto">
                        Make A New Payment
                    </a>
                }
            }
        </div>
    </div>
}
