@model IEnumerable<WaterBillAppCore.Models.Bill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bills</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



<div class="list-group">
    @foreach (var item in Model)
    {

    <a class="list-group-item list-group-item-action mb-4">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.CustomerName)</h5>
            <small class="text-muted">@Html.DisplayFor(modelItem => item.CreatedDate)</small>
        </div>
        <p class="mb-1">Total: R @Html.DisplayFor(modelItem => item.Amount)</p>
        <small class="text-muted">
            <a asp-action="Edit" asp-route-id="@item.BillId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.BillId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.BillId">Delete</a>
        </small>
      
    </a>
    }
    </div>