@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model WaterBillAppCore.Models.Query

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>Query Details</h1>

<div class="card mb-3">
    <div class="card-header">
        @Model.CustomerName <b>@Model.QueryStatus</b>
    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Category  </h5>
        <p>
            @Model.Description
        </p>

        <p>
            <span class="small">  @Html.DisplayNameFor(model => model.AccountNumber) </span>  <br>
            @Model.AccountNumber
            <hr>
        </p>

        <p>
            <span class="small">  @Html.DisplayNameFor(model => model.CustomerAddress) </span>  <br>
            @Model.CustomerAddress
            @if (!string.IsNullOrEmpty(Model.AddressUrl))
            {
                <br />
                <a class="btn btn-link" target="_blank" href="@Model.AddressUrl">Directions</a>
            }

            <hr>
        </p>


        <p>
            <span class="small">  @Html.DisplayNameFor(model => model.CustomerEmail) </span>  <br>
            @Model.CustomerEmail
            <hr>
        </p>

        <p>
            <span class="small">  @Html.DisplayNameFor(model => model.CustomerPhone) </span>  <br>
            @Model.CustomerPhone
            <hr>
        </p>

        <p>
            <span class="small">  @Html.DisplayNameFor(model => model.CreateDate) </span>  <br>
            @Model.CreateDate
            <hr>
        </p>
    </div>
    <div class="card-footer">


        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Agent"))
            {
                @if (Model.QueryStatus == "New")
                {

                    <a asp-action="UpdateStatus" asp-route-id="@Model.QueryId" class="btn btn-info">Accept</a>
                }

                @if (Model.QueryStatus == "Accepted")
                {

                    <a asp-action="UpdateStatus" asp-route-id="@Model.QueryId" class="btn btn-info">In Progress</a>
                }


                @if (Model.QueryStatus == "In Progress")
                {

                    <a asp-action="UpdateStatus" asp-route-id="@Model.QueryId" class="btn btn-info">Close Query</a>
                }
            }
        }
    </div>
</div>
